API DTMF Project.txt
[{"id":"8938bc83.791ba","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9906d11.794e1","type":"sqlitedb","z":"","db":"/home/pi/rpiWebServer/dtmf.db","mode":"RWC"},{"id":"2d4b965a.777ffa","type":"sqlitedb","z":"","db":"/home/blueseas/Downloads/simonT-master/dtmf.db","mode":"RWC"},{"id":"9f293af8.463e78","type":"http in","z":"8938bc83.791ba","name":"Get: Stated","url":"/Stated","method":"get","upload":false,"swaggerDoc":"","x":157.60000610351562,"y":159,"wires":[["b55857fa.fcef88"]]},{"id":"d7286aca.be1678","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":493.6000556945801,"y":347.0000057220459,"wires":[]},{"id":"b55857fa.fcef88","type":"function","z":"8938bc83.791ba","name":"","func":"msg.topic='SELECT * FROM Event';\nreturn msg;","outputs":1,"noerr":0,"x":244.60000228881836,"y":231.00000286102295,"wires":[["e1e47307.4719d"]]},{"id":"e1e47307.4719d","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":335.60000228881836,"y":298.00000381469727,"wires":[["d7286aca.be1678","3dd73ad3.989156"]]},{"id":"3dd73ad3.989156","type":"debug","z":"8938bc83.791ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":491.6000671386719,"y":222,"wires":[]},{"id":"4633bb34.bb0624","type":"http in","z":"8938bc83.791ba","name":"Post: House","url":"/House","method":"post","upload":false,"swaggerDoc":"","x":159,"y":456,"wires":[["9809b1d7.e499a","5938c8a8.121c08"]]},{"id":"3584629d.8c38ce","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":495.00004959106445,"y":644.0000057220459,"wires":[]},{"id":"9809b1d7.e499a","type":"function","z":"8938bc83.791ba","name":"","func":"p = msg.payload;\nmsg.topic='SELECT * FROM Profile WHERE House_ID LIKE \"' + p.HID + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":245.99999618530273,"y":528.000002861023,"wires":[["9284d67e.8022c8"]]},{"id":"9284d67e.8022c8","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":336.99999618530273,"y":595.0000038146973,"wires":[["3584629d.8c38ce","5938c8a8.121c08"]]},{"id":"5938c8a8.121c08","type":"debug","z":"8938bc83.791ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":529.000057220459,"y":454.0000057220459,"wires":[]},{"id":"34bbdffe.da8df","type":"http in","z":"8938bc83.791ba","name":"Post: Ignore","url":"/Ignore","method":"post","upload":false,"swaggerDoc":"","x":776,"y":160,"wires":[["d2a18288.df2df"]]},{"id":"a242f19f.e15d2","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":1112.0000495910645,"y":348.0000057220459,"wires":[]},{"id":"d2a18288.df2df","type":"function","z":"8938bc83.791ba","name":"","func":"p = msg.payload;\nmsg.topic='UPDATE Event SET Status = 0, Detail = \"No Alarm\" WHERE House_ID LIKE \"' + p.HID + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":862.9999961853027,"y":232.00000286102295,"wires":[["6d20183c.1986b8"]]},{"id":"6d20183c.1986b8","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":953.9999961853027,"y":299.00000381469727,"wires":[["a242f19f.e15d2","f19f289c.4c3cb8"]]},{"id":"f19f289c.4c3cb8","type":"debug","z":"8938bc83.791ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1149.0000495910645,"y":159.00000286102295,"wires":[]},{"id":"b5bb5452.5299c8","type":"http in","z":"8938bc83.791ba","name":"Post: Update","url":"/Update","method":"post","upload":false,"swaggerDoc":"","x":772,"y":440,"wires":[["e65f4f45.0fc41"]]},{"id":"e65f4f45.0fc41","type":"function","z":"8938bc83.791ba","name":"","func":"p = msg.payload;\nmsg.topic = 'UPDATE Profile SET Name = \"'+ p.Name +'\",Tel = \"' + p.Tel +'\",PicProfile = \"' + p.Pic +'\" WHERE House_ID LIKE \"' + p.HID + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":858.9999961853027,"y":512.000002861023,"wires":[["f6fe974a.3e4c88"]]},{"id":"f6fe974a.3e4c88","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":949.9999961853027,"y":579.0000038146973,"wires":[["b8ff4cf0.b12be","3634ae4d.f4c7a2"]]},{"id":"3634ae4d.f4c7a2","type":"debug","z":"8938bc83.791ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1145.0000495910645,"y":439.00000286102295,"wires":[]},{"id":"b8ff4cf0.b12be","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":1120,"y":640,"wires":[]},{"id":"b7911a72.fdede8","type":"http in","z":"8938bc83.791ba","name":"Post: Add","url":"/Add","method":"post","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["2bd95e4a.424542","c01266e9.ac0d18"]]},{"id":"2bd95e4a.424542","type":"function","z":"8938bc83.791ba","name":"","func":"p = msg.payload;\nmsg.topic = 'INSERT INTO Profile(House_ID,Name,Tel,PicProfile) Values(\"'+ p.HID +'\",\"'+ p.Name +'\",\"'+ p.Tel +'\",\"'+ p.Pic +'\")';\nreturn msg;","outputs":1,"noerr":0,"x":236.99999618530273,"y":812.000002861023,"wires":[["82af099e.3e84e8"]]},{"id":"bdffd443.b1bcc8","type":"debug","z":"8938bc83.791ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":523.0000495910645,"y":739.000002861023,"wires":[]},{"id":"95be73f.f0f029","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":740,"y":920,"wires":[]},{"id":"c01266e9.ac0d18","type":"function","z":"8938bc83.791ba","name":"","func":"p = msg.payload;\nmsg.topic = 'INSERT INTO Event(House_ID,Status,Detail) Values(\"'+ p.HID +'\",0,\"No Alarm\")';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["8c5dd08a.9c0dc"]]},{"id":"8c5dd08a.9c0dc","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":610,"y":840,"wires":[["95be73f.f0f029","bdffd443.b1bcc8"]]},{"id":"82af099e.3e84e8","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":327.99999618530273,"y":879.0000038146973,"wires":[["95be73f.f0f029","bdffd443.b1bcc8"]]},{"id":"3f5c3d08.e9da32","type":"http in","z":"8938bc83.791ba","name":"Get: ChkStated","url":"/ChkStated","method":"get","upload":false,"swaggerDoc":"","x":841.0000114440918,"y":743.999997138977,"wires":[["b59330b2.6dbba"]]},{"id":"d3dedca3.4c41f","type":"http response","z":"8938bc83.791ba","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":1167.0000610351562,"y":932.000002861023,"wires":[]},{"id":"b59330b2.6dbba","type":"function","z":"8938bc83.791ba","name":"","func":"msg.topic='SELECT * FROM Event WHERE Status = 1';\nreturn msg;","outputs":1,"noerr":0,"x":918.0000076293945,"y":816,"wires":[["31d908af.f7d658"]]},{"id":"31d908af.f7d658","type":"sqlite","z":"8938bc83.791ba","mydb":"2d4b965a.777ffa","sqlquery":"msg.topic","sql":"","name":"dtmf","x":1009.0000076293945,"y":883.0000009536743,"wires":[["d3dedca3.4c41f","f034e6e9.0d04c8"]]},{"id":"f034e6e9.0d04c8","type":"debug","z":"8938bc83.791ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1204.0000610351562,"y":743,"wires":[]}]
